<block-ui></block-ui>
<div class="mt-2">
  <div>
    <div class="d-flex">
      <div class="flex-fill">
        <h4>List of Customers</h4>
      </div>
      <button class="btn btn-primary" (click)="openCustomerModal()">
        <i class="bi bi-plus"></i>
        Add Customer
      </button>
    </div>
    <div>
      <div class="table-responsive mt-2">
        <table class="table table-bordered table-striped">
          <thead>
          <tr>
            <th>Title</th>
            <th>Email</th>
            <th>Region</th>
            <th>Country</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let customer of customerList">
            <td class="align-middle text-center text-nowrap">
              <a class="cursor-pointer" (click)="editCustomer(customer)">{{customer.title}}</a>
            </td>
            <td class="align-middle text-center">
              {{customer.email}}
            </td>
            <td class="align-middle text-center">
              {{customer.region}}
            </td>
            <td class="align-middle text-center">
              {{customer.country}}
            </td>
          </tr>
          <tr class="no-data" *ngIf="!customerList.length">
            <td colspan="4" class="text-center">No data available</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
    <nav aria-label="page navigation example" *ngIf="customerList.length">
      <ul class="pagination justify-content-end">
        <li class="page-item" [class.disabled]="currentPage === 1" (click)="nextPrevPage(-1)">
          <a class="page-link" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
        <li class="page-item"></li>
        <li class="page-item" *ngFor="let pageNo of allPageNoArray" [class.active]="pageNo === currentPage"
            (click)="loadCustomers(pageNo)">
          <a class="page-link">{{ pageNo }}</a>
        </li>
        <li class="page-item" [class.disabled]="currentPage === allPageNoArray.length" (click)="nextPrevPage(1)">
          <a class="page-link" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</div>


<!-- Create Customer Modal -->
<div class="modal fade" id="createCustomerModal" tabindex="-1" aria-labelledby="createCustomerModalLabel"
     aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg modal-fullscreen-sm-down">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="createCustomerModalLabel">
          Create Customer
        </h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="container">
          <app-create-customer [customer]="clickedCustomer" (refreshList)="listAllCustomers()"></app-create-customer>
        </div>
      </div>
    </div>
  </div>
</div>
