.file-drop-zone {
  border: dotted 3px lightgray;
  height: 100px;
  background-color: lightgray;
  cursor: pointer;

  &.hover {
    border: dotted 3px green;
  }
}

.invalid-feedback {
  display: block !important;
}
